.fossilParent {
border: 3px solid royalblue;
display: flex; 
flex-wrap: wrap;
justify-content: space-evenly;
}
.fossilCard {
border: 3px solid pink;
padding: .5em .9em;
margin: 1em 0;
width: 25%;
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
}
.locationInfo {
    flex: 1;
}

.deleteButton, .detailsEdit, .detailsButton{
    background-color: rgb(113, 147, 248);
    color: pink;
    width: 100%;
}


/* fossil buttons styling below */

.fossil--buttons {
    display: flex;
    flex-wrap: wrap;
   
}
.locationInfo {
width: 100%;
flex: 1;
margin: .2em 25%;
}

.btn {
    width: 100%;
}

.detailsEdit {
    flex: 1;
}

.filter--fossil{
    
    margin-right: .5em;
flex: 1;
text-align: right;
width: 100%;
}


.fossil--image {
    
width: 100%;
}

