#fossilForum > fieldset {
  
    background-color: black;
}

.fossilForum > .formgrid {
    display: flex;
    flex-wrap: wrap;
    
}
.formChild {
    text-align: center;
    margin: .3em 0;
    padding: .5em 0;
}