



.fossil--grandparent {
  
    color: white;
    height: 100%;
    
}

.fossil--grandparent > div > h1 {
    margin: 0;
    padding-top: .5em;
    text-align: center;
    font-size: 2em;

}




.fossilParent {
/* border: 3px solid royalblue; */
display: flex; 
flex-wrap: wrap;
justify-content: space-evenly;

}



.fossilCard {
border: 3px solid var(--fossil-card-background);
background-color: var(--fossil-card-background);
box-shadow: .4em .4em var(--fossil-card-shadow);
padding: .5em .9em;
margin: 1em 0;
width: 25%;
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
}

.fossilCard:hover {
box-shadow: .6em .6em .6em .6em var(--fossil-card-shadow);

}






.locationInfo {
    flex: 1;
}

/* all button classes are below */

.deleteButton, .detailsEdit, .detailsButton{
    background-color: var(--fossil-card-btn);
    color: var(--fossil-card-font-color);
    width: 25%;
    /* background-image: linear-gradient(var(--fossil--logo-head-color), blue); */
  
}


/* fossil buttons styling below */


.locationInfo {
width: 100%;
flex: 1;
margin: .2em 25%;
}


/* button styling for fossil collection below */

.btn {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: fit-content;
    
}

.detailsEdit {
    flex: 1;
}

.filter--fossil{
    
    margin-right: .5em;
flex: 1;
text-align: right;
width: 100%;
}

.fossil--select-location,
    .fossil--select-genus,
    .addButton {
        background-color: var(--fossil-card-btn);
        color: var(--fossil-card-font-color);
    margin: 0 .3em;
    }
    .addButton {
        margin-top: 2em;
    }


/* styling for the img tag child of fossilImage div below */
.fossil--image {
    
width: 100%;
}

/* below is fossil collection banner */


@media only screen and (max-width: 600px) {
.banner {
    display: none;
}
    .deleteButton, .detailsEdit, .detailsButton{
        /* background-color: var(--fossil-card-btn); */
        /* color: var(--fossil-card-font-color); */
        width: 100%;
    }
    .fossil--select-location,
    .fossil--select-genus,
    .addButton {
        background-color: var(--fossil-card-btn);
        color: var(--fossil-card-font-color);
        width: 45%;

    }
    .fossil--add {
        text-align: center;
    }

    .fossilParent {
        /* border: 3px solid royalblue; */
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        }
        
        
        
        .fossilCard {
        border: 3px solid var(--fossil-card-background);
        background-color: var(--fossil-card-background);
        box-shadow: .4em .4em var(--fossil-card-shadow);
        padding: .5em .9em;
        margin: 1em 0;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        }
        
        .fossilCard:hover {
        box-shadow: .6em .6em .6em .6em var(--fossil-card-shadow);
        
        }
}