.fossilParent {
border: 3px solid royalblue;
display: flex; 
flex-wrap: wrap;
justify-content: space-evenly;
}
.fossilCard {
border: 3px solid pink;
padding: .5em .9em;
margin: 1em 0;

}

.deleteButton {
    background-color: rgb(113, 147, 248);
    color: pink;
}