:root {
    --logo-background-color: #731504; 
}


.login-link {
    color: var(--logo-background-color);
    text-decoration: underline;
    cursor: pointer;
  }

  .banner {
      height: 10%;
  }

  .banner > img {
      height: 100%;
      width: 100%;
  }

  .home--parent{
      background-color: black;
      color: white;
  }
.home--card-parent{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}


.home--card-child {
    display: flex;
    width: auto;
    flex: 1;
    justify-content: space-around;
    width: 45%;
    
}

.home--card-child > img {
    width: 45%;
    flex: 1;
    height: 100%;
    margin: .2em .2em;
  }

 

 /* @media only screen and (max-width: 600px) {
 .home--card-parent {
     display: flex;
     flex-direction: wrap;
     justify-content: space-between;
     border: 5px solid white;
     width: auto;
 }

 .home--card-child {
     margin: .5em 0;
     border: 5px solid white;

     width: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
 }

  #homeImageOne {
width: 100%
  
    
}
#homeImageTwo {
    width: 100%



}



  } */

 