:root {
    --logo-background-color: #731504; 
}


.login-link {
    color: var(--logo-background-color);
    text-decoration: underline;
    cursor: pointer;
  }

  .banner {
      height: 10%;
  }

  .banner > img {
      height: 100%;
      width: 100%;
  }

  .home--parent{
      background-color: black;
      color: white;
  }
.home--card-parent{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}


.home--card-img {
    display: flex;
    width: auto;
    /* flex: 1; */
    justify-content: space-around;
    /* width: 45%; */
    
}

  .home--card-img > img {
    width: 45%;
    flex: 1;
    height: 100%;
    margin: .2em .2em;
  }

 



 