

.appView {
    /* background-color: #60625A; */

}

:root {
   --body--color: white;

    
}

body {
background-color: var(--body--color);
/* color: white; */
}

/* all buttons that are on a forum */
.forumbtn {
    font-size: 1em;
    padding: .5em;
    width: 5em;
    height: 75%;
    color: var(--form-background-color);
    background-color: var(--form-login-color);
}

.forum--select {
    font-size: 1em;
color: white;
height: 75%;
background-color: var(--form-login-color);
border: 0;
}
#state {
    text-align: center;
    margin-top: .5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.banner {
    width: 100%;
}