/* variables for colors example
:root {
    --card-bg: darkgray;
}
background-color: var(--card-bg); */

:root {
    /* --logo-background-color: #731504; */
    --logo-background-color: black;
    --logo--white: white;
    /* --logo--white: #F7EEE8; */
    /* --nav-font-color: #BE7C70; */
    --nav-font-color: white;
    /* --nav-brandy: #B88C7C; */
    --nav-brandy: black;
    
}
/* below is the styling for the logo image */
.logoParent {
  display: flex;
  height: 100%;
  align-content: center;
  /* flex-wrap: wrap; */
 
}
#logo:hover {
  border: .2em solid white;

}

.logo {
  height: 100%;
 flex: 1;
  width: 100%;
  justify-content: center;
}
#logo {
  height: 5em;
  border: .2em solid black;
  margin-top: 1em;
  margin-left: 2em;
}
.mainlogo {
  
  text-align: center;
  flex: 3;
}
#mainlogo {
  margin-top: 0;
  height: 10em;
  text-align: center;
}
nav {
  flex: 2;
}


.container > li {
  
    border: .1em solid rgb(0, 0, 0);

}
small {
    font-size: 75%;
  }
  
  header {
    background-color: black;
  }
  
  .site-title {
    color: var(--logo--white);
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
  margin-top: 1em;

 
    text-align: center;
    font-size: 1.5em;
    color: var(--logo--white);
    box-sizing: border-box;
    background-color: var(--nav-brandy);
    list-style-type: none;
  }
  
  .nav-link {
    color: var(--logo--white);
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  .nav-link:hover {
    color: var(--nav-font-color);
  }


  /* ==============================ADD MEDIA BELOW FONT SIZE IS IMPORTANT ============ */