

:root {
    /* --logo-background-color: #731504; 
    example 
    color: var(--logo--white);
    */
    /* --forum-background: #1a1a1a;
    --forum-card-background: #262626;
    --forum-card-shadow: #333333; */

    --forum-background: #f0efef;
    --forum-card-background: #ffffff;
    --forum-card-shadow: #f0ebeb;
    --forum-card-btn: rgb(255, 255, 255);
    --forum-card-font-color:rgb(3, 3, 3);
    --forum--logo-head-color: #44fb8d;

    
}
Link {
    color: none;
    text-decoration: none;
}


.forumParent{
    display: flex;
    flex-wrap: wrap;
    color: white;
    /* justify-content: center; */
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid #4b4646;
    width: 100%;

    margin: 1em 0;
}
.forumQ {
    color: var(--forum-card-font-color);
}
.questionChild:hover {
box-shadow: .3em .3em .9em rgba(20, 20, 20, 0.61);

}
.questionChild {
    /* color: white; */
    background-color: var(--forum-card-background);
box-shadow: .2em .2em .3em var(--forum-card-shadow);
 font-size: 1.5em;
   width: 75%;
    padding-left: .2em;
    margin: .5em 0;
}
.questionChild :link {
    color: white;
    text-decoration: none;
}

 .responseChild {
    /* border: .1em solid royalblue;  */
    margin: .5em;
}

/* styling below is for the question and response view  */

.questionResponse{
    background-color: var(--forum-card-background);
    box-shadow: .2em .2em .3em var(--forum-card-shadow);
     font-size: 1.5em;
       width: 100%;
        padding-left: .2em;
        margin: 1em 0;
}
.responseSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.responseChild {
    padding: .5em 1em;
    font-size: 1.2em;
    box-shadow: .2em .2em .3em var(--forum-card-shadow);
    width: 50%;
        margin: 1em 0;

}

.questionResponse:hover, .responseChild:hover {
    box-shadow: .3em .3em .9em rgba(20, 20, 20, 0.61);
}
.responseBack, .addbtn{
    margin: .5em .5em;

}
.responsebtn {
margin: .5em .5em;
}


