.parentQForum > form > fieldset {
    border: .3em solid royalblue;
}

.parentQForum > form > h1 {
    text-align: center;
    color: pink;
}

.parentQForum > form {
    color: pink;
}

.submitbtn {
    
}
