
#response, #question {
    width: 25em;
    margin: .2em .3em;
    
    height: 5em;
    font-size: 1em;
}

.title-forum {
    
    display: flex;
    justify-content: center;
}
.section-content 
{
    margin: .8em .8em;
}






